body {
    font-family: sans-serif;
}
[main] {
    background-color: #F9F9F9;
}
[drawer] {
    background-color: #FFFFFF;
}
core-drawer-panel:not([narrow]) #navicon {
    display: none;
}
core-toolbar 
{
    background-color: #750000;
    color: #FFFFFF;
}
core-toolbar p
{
    float: none;
}
#Angebot
{
    margin: 10px;
    padding: 10px;
    border: 5px solid Red;
    font-size: 20px;
    font-weight: bold;
    color: #d4af37;;
    background-color:#750000;
    width: 500px;
    float: left;
}
div#IWS_WH_Zone1, div#IWS_WH_Zone2, div#IWS_WH_Zone3
{
	padding:3px;
}
td, th
{
  font-family:Arial,Helvetica,sans-serif;
  font-size:10pt;
}
p 
{
    margin-top: 0; 
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 10px;
}
p.leftAlign {
    margin-top: 0; 
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 10px;
}
.FloatText {
    float: left;
}
.F_Mid
{
	color:#003366;
}
