<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <title>Kosmetikstudio Daria Braunschweig</title>
    <link href="../css/app.css" rel="stylesheet"/>
    <script src="../bower_components/webcomponentsjs/webcomponents.js"></script>
    <link rel="import" href="../bower_components/core-drawer-panel/core-drawer-panel.html">
    <link rel="import" href="../bower_components/core-header-panel/core-header-panel.html">
    <link rel="import" href="../bower_components/core-toolbar/core-toolbar.html">
    <link rel="import" href="../bower_components/core-menu/core-menu.html">
    <link rel="import" href="../bower_components/core-item/core-item.html">
    <link rel="import" href="../bower_components/core-icon-button/core-icon-button.html">


</head>
<body fullbleed layout vertical>
    <core-drawer-panel id="drawerPanel">
         <core-header-panel mode="waterfall-tall" tallClass="medium-tall" drawer>
             <core-toolbar><img  height="131" src="../Bilder/lotus.jpg" /></core-toolbar>
             <core-menu selected="4">
                 <core-item label="Startseite">
                     <a href="../index.html"></a>
                 </core-item>
                 <core-item label="Wir &uuml;ber uns/Bilder">
                     <a href="aboutus.html"></a>
                 </core-item>
                 <core-item label="Massagen">
                     <a href="massagen.html"></a>
                 </core-item>
                 <core-item label="Kosmetik">
                     <a href="kosmetik.html"></a>
                 </core-item>
                 <core-item label="Fu&szlig;pflege"></core-item>
                 <core-item label="Wimpern / Haare">
                     <a href="wimpern.html"></a>
                 </core-item>
                 <core-item label="Aura Soma">
                     <a href="aura_soma.html"></a>
                 </core-item>
                 <core-item label="Kontakt">
                     <a href="kontakt.php"></a>
                 </core-item>
                 <core-item label="Preisliste">
                    <a href="preise.html"></a>
                  </core-item>
                 <core-item label="Impressum">
                     <a href="impressum.html"></a>
                 </core-item>
             </core-menu>
        </core-header-panel>
       
        <core-header-panel main>
            <core-toolbar class="medium-tall">
                <core-icon-button id="navicon" icon="menu">
                </core-icon-button>
                <h1>Studio Daria</h1>
                <div class="bottom">...die reiche Welt der Kosmetik</div>
            </core-toolbar>
            <div class="content">
              <template is="auto-binding" id="fussTmpl"> 
                <h1>Wellness f&uuml;r die F&uuml;&szlig;e</h1>
                <br/>
                <table>
                    <tr>
                        <td>Pedik&uuml;re Fu&szlig;pflege</td>
                        <td>{{pedfusspflege}} &euro;</td>
                    </tr>
                    <tr>
                        <td>Fu&szlig;reflexzonenmassage (40 min)</td>
                        <td>{{fussreflexmassage}} &euro;</td>
                    </tr>
                    <tr>
                        <td>Pedinail / Fu&szlig;nail-Art / Nagelaufbau</td>
                        <td>{{nagelaufbau}} &euro;</td>
                    </tr>
                    <tr>
                        <td>Fu&szlig;pflege Extras:
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <ul style="list-style-type:none">
                                <li>Paraffinbad</li>
                                <li>Nagellack</li>
                                <li>UV Lack (h&auml;lt bis zu 5 Wochen)</li>
                                <li>French Modellage / French Gel
                                </ul>
                        </td>
                        <td>
                            <ul style="list-style-type:none">
                                <li>{{fusspflege.extras.parafin}} &euro;</li>
                                <li>{{fusspflege.extras.nagellack}} &euro;</li>
                                <li>{{fusspflege.extras.uvlack}} &euro;</li>
                                <li>{{fusspflege.extras.frenchmodellage}} &euro;</li>
                            </ul>
                        </td>
                    </tr>
                </table> 
                </template>
            </div>
        </core-header-panel>
    </core-drawer-panel>
    
<script src="../js/app.js"></script>
</body>
</html>