﻿/* _localBinding */
.MS_MasterBottomAD {
font-family:Verdana;
font-size:11px;
text-align:right;
vertical-align:top;
}/*  _locID_css@font-family="id_MS_MasterBottomAD_fontfamily"  _locID_css@font-size="id_MS_MasterBottomAD_fontsize" */

.MS_MasterGlobalLinks {
text-align:left;
}

.MS_MasterHeader,.MS_MasterBody,.MS_MasterFooter {
vertical-align:top;
}

.MS_MasterLeftNav {
vertical-align:top;
}

.MS_MasterRightAD {
padding:5px 0 10px 10px;
vertical-align:top;
}

.MS_MasterTopAD {
padding:5px 5px 10px;
vertical-align:top;
}

.MS_MasterTopNav {
text-align:left;
vertical-align:top;
}

.MS_ErrorTextStandard {
color:#EE2037;
font-weight:700;
}/*  _locID_css@font-weight="id_MS_ErrorTextStandard_fontweight" */

body {
margin:0;
}

/* Center in centered layouts */
html body 
{ 
text-align:center; 
}

/* "Single line" spacing */
p 
{
margin-top: 0; 
margin-bottom: 0;
}

a:visited
{
    color: Blue;
}

a:hover
{
    color: Red;
}

tr:mouseenter
{
    font-weight:bold;
}


/* Workaround for bug where list bullets and numbers overlap left floated images beside it. */

ul, ol 
{
margin-top: 0.3em; 
margin-bottom: 0.3em;
list-style-position:inside !important;
}

/* MSHTML inserts a div for every <li> for some reason. This affects Firefox. */
li > div
{
display: inline;
}

/* Site header */
.MSC_HeaderText
{
	font-size:24px;
	margin:0px;
}/*  _locID_css@font-size="id_MSC_HeaderText_fontsize" */

/* Search and shopping links */
.MSC_GlobalLinksFrame
{
	white-space:nowrap;
	margin: 3px 0px 3px 0px;
}

.MSC_SearchBox
{
	height: 15px;
	width:287px;
	border:1px solid #aaa;
	color: #aaaaaa;
	border-right: none;
	background-color:#ffffff;
	background-image:url(/_layouts/wh/images/search_background.gif);
	font-size: 12px;
	padding: 3px 0 3px 3px;
}/*  _locID_css@font-size="id_MSC_SearchBox_fontsize" */

.MSC_SearchButton
{
	border:1px solid #aaa;	
}

.MSC_GlobalLinksCommerceFrame
{
	width:100%;
	text-align:right;
	white-space:nowrap;
}
.MSC_GlobalLinksSearchFrame
{
	padding: 0px;
}

/* Top nav */
.MSC_PrimaryNavLinkFrame
{
	white-space:nowrap;
	padding:5px 10px 5px 10px;
}
.MSC_TopNavEnd
{
	width:100%;
}
.MSC_LeftNavEnd
{
	height:100%;
}

/* Left nav */
.MSC_SecondaryNavLinkFrame
{
	padding:5px;
	white-space:nowrap;
}

/* Commerce manager */
.MSSB_ProductImageLink img
{
	margin:1px;
	border:0px;
	padding:5px;
}
.MSSB_ProductGalleryTable
{
	padding:3px;
	width:600px;
}
.MSSB_ProductGalleryTable td
{
	vertical-align:top;
}

/* Data mover */
div.MSC_DisplayDataRepeatingForm
{
}
.MSC_DisplayDataRepeatingForm table td
{
	vertical-align:top;
	padding:3px;
}

.MSC_DataSharingWarning
{ 
	margin-top: 10px; 
	color:#444444; 
	background-color:#ffffae; 
	border: 1px solid #e9e9e9; 
	padding: 7px 7px 7px 55px; 
	background-position: 9px 7px; 
	background-image: url('/_layouts/wh/images/icons/icon_alert.gif'); 
	background-repeat: no-repeat; 
}

.MSC_DataSharingError
{ 
	margin-top: 10px; 
	color:#444444; 
	background-color:#ffaeb9;
    border: 1px solid #e9e9e9; 
	padding: 7px 7px 7px 55px; 
	background-position: 9px 7px; 
	background-image: url(/_layouts/wh/images/icons/alertstop32.gif);
	background-repeat: no-repeat; 
}

/* compatibilty with v1r*/
.MS_HeaderFont
{
	font-weight:bold;
}/*  _locID_css@font-weight="id_MS_HeaderFont_fontweight" */

.MainHeader
{
    font-size:16px;
    font-weight:bold;
}

h2
{
    margin-top: 16px;
    margin-bottom: 10px;
    font-size:16px;
    font-weight:bold;
}

#Angebot
{
    margin: 10px;
    padding: 10px;
    border: 5px solid Red;
    font-size: 20px;
    font-weight: bold;
    color: #d4af37;;
    background-color:#750000;
    width: 500px;
    float: right;
}

div#IWS_WH_Zone1, div#IWS_WH_Zone2, div#IWS_WH_Zone3
{
	padding:3px;
}
