﻿/* _localBinding */
/* Contains CSS for generated tables */
table.iws_table { border-collapse:collapse; border-style: solid; }

table.iws_table td.white { background: white; }
table.iws_table td.gray { background: gray; }
table.iws_table td.bold { font-weight: bold; }

table.iws_brown td.dark { background: #8d6731; color: White; }
table.iws_brown td.mid { background: #b19a78; color: White; }
table.iws_brown td.light { background: #f0eae1; }
table.iws_burgundy td.dark { background: #751611; color: White; }
table.iws_burgundy td.mid { background: #b67875; color: White; }
table.iws_burgundy td.light { background: #f3dad8 }
table.iws_green td.dark { background: #4e6c49; color: White;  }
table.iws_green td.mid { background: #87a583; color: White; }
table.iws_green td.light { background: #deeedc;}
table.iws_grey td.dark { background: #424242; color: White; }
table.iws_grey td.mid { background: #838383; color: White; }
table.iws_grey td.light { background: #ececec; }
table.iws_purple td.dark { background: #554255; color: White; }
table.iws_purple td.mid { background: #aa86aa; color: White; }
table.iws_purple td.light { background: #f3e9f3; }
table.iws_slate td.dark { background: #325884; color: White; }
table.iws_slate td.mid { background: #638cbb; color: White; }
table.iws_slate td.light { background: #d1e4fa; }
table.iws_scheme1 td.dark { background: #669999; color: White; }
table.iws_scheme1 td.mid { background: #ff9900; color: White; }
table.iws_scheme1 td.light { background: #f1f1eb; }
table.iws_scheme2 td.dark { background: #669966; color: White; }
table.iws_scheme2 td.mid { background: #cccc00; color: White; }
table.iws_scheme2 td.light { background: #fdfee3; }
table.iws_scheme3 td.dark { background: #993300; color: White; }
table.iws_scheme3 td.mid { background: #ff6600; color: White; }
table.iws_scheme3 td.light { background: #fdfee3; }
table.iws_scheme4 td.dark { background: #336699; color: White; }
table.iws_scheme4 td.mid { background: #ff6600; color: White; }
table.iws_scheme4 td.light { background: #fffef0; }



