
#Frame
{
    float: left;
    width: 780px;
    margin: 0;
}
#Header
{
    float: left;
    width: 780px;
	background-color:#ff8040;
}
#Menu
{
    float: left;
    height: 600px;
    width: 150px;
    background-color:#ff8040; 
    border-right: 1px solid Black;   
}
#Content
{
    float: left;
    height: 600px;
    width: 630px;
    color: Black;
    background-color: White;
    border-bottom: 1px solid Black;
}

.BG_Base
{
	background-color:#ffff00;
}
.BG_VeryLight
{
	background-color:#ffffff;
}
.BG_Light
{
	background-color:#750000;
}
.BG_Mid
{
	background-color:#003366;
}
.BG_Dark
{
	background-color:#333333;
}
.BG_VeryDark
{
	background-color:#000000;
}
.BG_CompLight
{
	background-color:#E3FAE7;
}
.BG_CompMid
{
	background-color:#78AA84;
}
.BG_CompDark
{
	background-color:#4E805A;
}



.F_VeryLight
{
	color:#ffffff;
}
.F_Light
{
	color:#ff8040;
}
.F_Mid
{
	color:#003366;
}
.F_Dark
{
	color:#333333;
}
.F_VeryDark
{
	color:#000000;
}
.F_CompLight
{
	color:#E3FAE7;
}
.F_CompMid
{
	color:#78AA84;
}
.F_CompDark
{
	color:#4E805A;
}
   

body
{
	text-align:Center;
	background:#400000;
	font-family:Arial,Helvetica,sans-serif;
	font-size:10pt;
	color:#000000;
}




.MS_MasterFrame
{
	margin-left:auto;
	margin-right:auto;
}


td, th
{
  font-family:Arial,Helvetica,sans-serif;
  font-size:10pt;
}

.MSC_SiteWidth,.MS_MasterHeader,.MS_MasterFrame,.MS_MasterGlobalLinks,.MS_MasterHeader,.MS_MasterPrimaryNav,.MS_MasterFooter,.MS_MasterTopAD,.MS_MasterBottomAD
{
	width:930px;
}
   


.MSC_HeaderFrame
{
	background:#333333;
	width:100%;
}

.MSC_HeaderDescription
{
	font-size:12px;
	margin:0px;
}
	


.MSC_GlobalLinkSpace
{
	padding:10px;
	font-size:10pt;
	color:#ffffff;
}
.MSC_GlobalLink
{
	font-size:10pt;
	color:#ffffff;
	text-decoration:none;
	font-weight:bold;
}
.MSC_GlobalLink:hover
{
	font-size:10pt;
	color:#ffffff;
	text-decoration:underline;
	font-weight:bold;
}
.MSC_GlobalLink:visited
{
	font-size:10pt;
	color:#ffffff;
	text-decoration:none;
	font-weight:bold;
}
.MSC_GlobalLinkSpace
{
	font-size:10pt;
}


	
.MSC_PrimaryNavFrame
{
	background:#d4af37;
	width:100%;
	margin:1px 0px 5px 0px;
	text-align:left;
}
.MSC_PrimaryNavLink
{
	color:#ffffff;
	font-size:12px;
	text-decoration:none;
}
.MSC_PrimaryNavLink:hover
{
	color:#ffffff;
	font-size:12px;
	text-decoration:underline;
}
.MSC_PrimaryNavLink:visited
{
	color:#ffffff;
	font-size:12px;
	text-decoration:none;
}
.MSC_PrimaryNavLinkFrame-On
{
	background:#E3FAE7;
	white-space:nowrap;
	padding:5px 10px 5px 10px;
}
.MSC_PrimaryNavLink-On
{
	color:#325884;
	font-size:12px;
	text-decoration:none;
	font-weight:bold;
}
.MSC_PrimaryNavLink-On:hover
{
	color:#325884;
	font-size:12px;
	text-decoration:underline;
	font-weight:bold;
}
.MSC_PrimaryNavLink-On:visited
{
	color:#325884;
	font-size:12px;
	text-decoration:none;
	font-weight:bold;
}
.MSC_PrimaryNavLeftSpace
{
	width:1px;
	white-space:nowrap;
	background:#000000;
	font-size:1px;
}
.MSC_PrimaryNavRightSpace
{
	width:1px;
	background:#ff8040;
	white-space:nowrap;
	font-size:1px;
}
.MSC_PrimaryNavTopSpace
{
	height:1px;
	background:#000000;
}
.MSC_PrimaryNavBottomSpace
{
	height:1px;
	background:#ff8040;
}



.MS_MasterLeftNav
{
	background:#750000;
}
.MSC_SecondaryNavFrame
{
	background:#E3FAE7;
	width:100%;
	text-align:left;
}
.MSC_SecondaryNavLink
{
	color:#325884;
	font-size:10pt;
	text-decoration:none;
}
.MSC_SecondaryNavLink:hover
{
	color:#325884;
	font-size:10pt;
	text-decoration:underline;
}
.MSC_SecondaryNavLink:visited
{
	color:#325884;
	font-size:10pt;
	text-decoration:none;
}
.MSC_SecondaryNavLeftSpace
{
	font-size:1px;
	background:#003366;
	width:1px;
	white-space:nowrap;
}
.MSC_SecondaryNavRightSpace
{
	font-size:1px;
	background:#ffffff;
	width:1px;
	white-space:nowrap;
}
.MSC_SecondaryNavTopSpace
{
	background:#003366;
	height:1px;
}
.MSC_SecondaryNavBottomSpace
{
	background:#ffffff;
	height:1px;
}
.MSC_SecondaryNavLeftFrame-On
{
	padding:5px;
	background:#ffffff;
}
.MSC_SecondaryNavLinkFrame-On
{
	white-space:nowrap;
	padding:5px;
	background:#ffffff;
}
.MSC_SecondaryNavLink-On
{
	padding:5px;
	background:#ffffff;
	font-size:10pt;
	font-weight:bold;
	color:#325884;
	text-decoration:none;
}
.MSC_SecondaryNavLink-On:hover
{
	padding:5px;
	background:#ffffff;
	font-size:10pt;
	font-weight:bold;
	color:#325884;
	text-decoration:underline;
}
.MSC_SecondaryNavLink-On:visited
{
	padding:5px;
	background:#ffffff;
	font-size:10pt;
	font-weight:bold;
	color:#325884;
	text-decoration:none;
}
   


.MS_MasterBody
{
	background:#ffffff;
}
.MSC_Body
{
	padding:10px;
	text-align:left;
	background:#ffffff;
	height:100%;
}
	


.MSC_FooterFrame
{
	background:#333333;
	padding:5px;
	text-align:center;
}
.MSC_FooterLink
{
	color:#ffffff;
	font-size:10pt;
	text-decoration:none;
}
.MSC_FooterLink:hover
{
	color:#ffffff;
	font-size:10pt;
	text-decoration:underline;
}
.MSC_FooterLink:visited
{
	color:#ffffff;
	font-size:10pt;
	text-decoration:none;
}
.MSC_FooterLinkSpacer
{
	color:#ffffff;
	font-size:10pt;
}
.MSC_FooterText
{
	color:#ffffff;
	font-size:10pt;
}


	
.MSSB_ProductTitle
{
	color:#325884;
	font-size:16px;
	font-weight:bold;
	text-decoration:none;
}
.MSSB_ProductTitle:hover
{
	color:#BA2A2D;
	font-size:16px;
	font-weight:bold;
	text-decoration:underline;
}
.MSSB_ProductTitle:Visited
{
	color:#325884;
	font-size:16px;
	font-weight:bold;
	text-decoration:none;
}
.MSSB_Price
{
	color:#4E805A;
	font-size:18px;
	text-decoration:none;
	padding:5px;
}

.MSSB_ProductDescription
{
	font-size:10pt;
}
.MSSB_ProductDetailLink
{
	font-family:Arial,Helvetica,sans-serif;
	color:#325884;
	text-decoration:none;

}
.MSSB_ProductDetailLink:hover
{
	font-size:10pt;
	color:#BA2A2D;
	text-decoration:underline;
	padding:5px;
}
.MSSB_ProductDetailLink:visited
{
	font-size:10pt;
	color:#325884;
	text-decoration:none;
}
.MSSB_PurchaseButton
{
	font-size:10pt;
}
.MSSB_CartButton
{
	font-size:10pt;
}
.MSSB_ShortDescription
{
	font-size:10pt;
	text-decoration:none;
	padding:5px;
}
.MSSB_LongDescription
{
	font-size:10pt;
	text-decoration:none;
}
.MSSB_RegularPrice
{
	font-size:10pt;
	text-decoration:none;
}
.MSSB_PromoText
{
	font-size:10pt;
	text-decoration:none;
}
.MSSB_SKU
{
	font-size:10pt;
	text-decoration:none;
}
.MSSB_ProductBodyText
{
	font-size:10pt;
}
.MSSB_ProductHeader
{
	font-size:21px;
}
.MSSB_ProductOptionTitle
{
	font-size:12px;
	font-weight:bold;
}
.MSSB_ProductOptions
{
	font-size:12px;
}
.MSSB_BreadcrumbLink
{
	font-size:12px;
	color:#325884;
	text-decoration:none;
}
.MSSB_BreadcrumbLink:hover
{
	font-size:12px;
	color:#BA2A2D;
	text-decoration:underline;
}
.MSSB_BreadcrumbLink:visited
{
	font-size:12px;
	color:#325884;
	text-decoration:none;
}
.MSSB_BreadcrumbSpacer
{
	font-size:12px;
	margin:0px 5px 0px 5px;
}
.MSSB_ProductRowSpacer
{
	background: #CCCCCC;
}
.MSSB_ProductOptions
{
	font-size:10pt;
}



.MSC_CollectDataTable,.MSC_CollectDataTable
{
	font-size:10pt;
}



.MSC_DisplayDataTable,.MSC_DisplayDataTable td
{
	font-size:10pt;
	border:1px solid #f4f4f4;
	border-collapse:collapse;
}
.MSC_DisplayDataTable th
{
	background-color:#ff8040;
	font-weight:bold;
	font-size:12px;
	color:#333333;
	padding:3px;
	border:1px solid #003366;
}
.MSC_DisplayDataTable
{
	border-collapse:collapse;
	border:1px solid #003366;
}
.MSC_DisplayDataTable td
{
	border-collapse:collapse;
	border:1px solid #003366;
	padding:3px;
}
.MSC_DisplayDataTableHeader
{
	font-weight:bold;
	font-size:12px;
	color:#000000;
	margin-bottom:3px;
}
.MSC_DisplayDataRepeatingForm table td hr
{
	color:#003366;
	height:1px;
}
  
